@if (this.ShowBusyIndicator == true)
{
    <BusyIndicator />
}

<h2 class="quote">@TextName search</h2>
<EditForm Model="@QuoteSearchView" OnValidSubmit="@OnSubmitAsync" class="mb-3">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <InputText @bind-Value="@QuoteSearchView.Phrase" @onkeyup="@OnSearchKeyUpAsync" id="SearchPhrase" class="form-control" placeholder="Separate multiple words with a space" />
        <ValidationMessage For=@( () => this.QuoteSearchView.Phrase ) />
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</EditForm>

@if (this.NoResultsFound == true)
{
    <div>No results found.</div>
}
@if (this.ResultsFound == true)
{
    <div class="small">@ResultsCountText.</div>
}
@if (this.SearchResults?.Any() == true)
{
    <QuoteList Quotes="SearchResults" />
}